<div class="container">
    
    <p>Ingrese un ID del 1 al 84 </p>
    <input type="text" [(ngModel)]="id_persona">
    <br>
    <input type="submit" class="btn btn-primary" style="margin-top: 15px;" (click)="cargarPersona()">
    <br>
    <br>

    <p>
        Nombre: <span [ngStyle]="{color: persona.name=='Luke Skywalker' ? 'red' : 'black'}">{{ persona.name }}</span>
    </p>
    <p>
        Año Nacimiento: {{ persona.birth_year }}
    </p>

    <p>
        Altura: {{ persona.height }}
    </p>
    <p>
        Color de pelo: {{ persona.hair_color | miPipe }}
    </p>
    <p>
        Color de piel: {{ persona.skin_color }}
    </p>
    <p>
        Color de ojos: {{ persona.eye_color }}
    </p>
    <p>
        Genero: {{ persona.gender }}
    </p>

</div>